@{
    ViewData["Title"] = "Trang chính";
}

<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-body">
                <center>
                    <img src="~/Assets/dist/img/cong-ty-tnhh-cong-nghiep-toan-cau-essons.png" width="320px" height="280px" />
                </center>
            </div>
            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

@section scripts{
    <script type="text/javascript">
        var a = '@ViewBag.notice';
        if (a != '') {
            let dia = bs4pop.dialog({

                title: 'Đăng nhập thành công',
                content: 'Người dùng ' + '@ViewBag.notice' + ' đã đăng nhập hệ thống thành công.',

                closeBtn: true,
                backdrop: 'static',
                btns: [
                    { label: 'OK', className: 'btn-primary', onClick(cb) { } }
                ],
                onDragStart: function () {
                    console.log('onDragStart');
                },
                onDrag: function () {
                    console.log('onDrag');
                }

            });
        }
    </script>
}