
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->

    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Thông báo</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="form-control row">
                    <a href="#">Thông báo thời gian nghỉ lễ 30/4 - 1/5</a>
                </div>
                <div class="form-control row">
                    <a href="#">Thông báo cuộc họp quan trọng ngày 22/05/2020</a>
                </div>
                <div class="form-control row">
                    <a href="#">Thông báo kế hoạch thay đổi các bộ phận 23/05/2020</a>
                </div>
                <div class="form-control row">
                    <a href="#">Thông báo tuyển dụng nhân viên mới 25/05/2020</a>
                </div>

            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

