@model ESSONS_MIS_2020_App.Models.DepartmentChildModel

<option disabled>Chọn nhóm</option>

@if(ViewBag.DepartmentCList != null)
{
    foreach (var item in ViewBag.DepartmentCList)
    {
        <option value="@item.depchildID">@item.depchildName</option>
    }
}