
@{
    ViewData["Title"] = "dateoff_Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách xin nghỉ phép - nghỉ việc</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>Mã nhân viên</th>
                                    <th>Tên nhân viên</th>
                                    <th>Mã số phép</th>
                                    <th>Loại phép</th>
                                    <th>Ngày nghỉ</th>
                                    <th>Ngày kết thúc</th>
                                    <th>Từ giờ</th>
                                    <th>Đến giờ</th>
                                    <th>Số ngày</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Lê Hoài Nam
                                    </td>
                                    <td>1</td>
                                    <td>VR</td>
                                    <td>02/02/2020</td>
                                    <td>03/02/2020</td>
                                    <td>16:00:00</td>
                                    <td>18:00:00</td>
                                    <td>2</td>
                                    <td>
                                        <a class="btn btn-info btn-sm" href="#">
                                            Duyệt
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="#">
                                            Hủy
                                        </a>
                                    </td>
                                </tr>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

