@model ESSONS_MIS_2020_App.Models.DateOffModel

@{
    ViewData["Title"] = "dateoff_Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Phép VR - Phép năm - Nghỉ BHXH</h3>
                    </div>
                    <!-- /.card-header -->
                    <form method="post" id="formPhep" asp-action="dateoff_Request">
                        <table class="table">
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Số thẻ</label>
                                        <div class="col-4">
                                            <input asp-for="empID" type="text" class="form-control" readonly placeholder="Số thẻ" value="@ViewBag.empid">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Họ tên</label>
                                        <div class="col-6">
                                            <input id="empName" type="text" class="form-control" readonly placeholder="Họ tên" value="@ViewBag.message">
                                        </div>
                                    </div>
                                    <div class="form-group row mySelect">
                                        <label class="col-sm-3 col-form-label">Loại xin phép</label>
                                        <label>&nbsp;&nbsp;</label>
                                        <select asp-for="dateoffType" class="custom-select col-6 selectpicker" id="loainghiphep" onchange=" myFunction()">
                                            <option disabled value="0" selected>Chọn loại nghỉ</option>
                                            <option value="4">Việc riêng</option>
                                            <option value="1">Phép năm</option>
                                            <option value="2">Nghỉ bệnh (BHXH)</option>
                                            <option value="13">Con bệnh (BHXH)</option>
                                            <option value="3">Nghỉ thai sản (BHXH)</option>
                                            <option value="10">Vợ sinh, khám, dưỡng</option>
                                            <option value="16">Dưỡng sức</option>
                                            <option value="11">Kết hôn</option>
                                            <option value="12">Tang gia</option>
                                        </select>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Giấy cần có</label>
                                        <textarea id="giaycanco" class="form-control" readonly placeholder="Không" rows="3" cols="1"></textarea>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Ngày nghỉ</label>
                                        <div class="col-5">
                                            <div class="datepicker date input-group p-0 shadow-sm">
                                                <input asp-for="dateoffStart" type="text" class="form-control" id="reservationDate">
                                                <div class="input-group-append"><span class="input-group-text"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="dtDenNgay">
                                        <label class="col-sm-3 col-form-label">Ngày kết thúc</label>
                                        <div class="col-5">
                                            <div class="datepicker date input-group p-0 shadow-sm">
                                                <input asp-for="dateoffEnd" type="text" class="form-control" id="reservationDate2">
                                                <div class="input-group-append"><span class="input-group-text"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bootstrap-timepicker">
                                        <div class="form-group row" id="tpTuGio">
                                            <label class="col-sm-3 col-form-label">Từ giờ</label>
                                            <div class="input-group date col-4" id="timepicker" data-target-input="nearest">
                                                <input asp-for="dateoffStartTime" type="text" class="form-control datetimepicker-input" data-target="#timepicker" />
                                                <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bootstrap-timepicker">
                                        <div class="form-group row" id="tpDenGio">
                                            <label class="col-sm-3 col-form-label">Đến giờ</label>
                                            <div class="input-group date col-4" id="timepicker2" data-target-input="nearest">
                                                <input asp-for="dateoffEndTime" type="text" class="form-control datetimepicker-input" data-target="#timepicker2" />
                                                <div class="input-group-append" data-target="#timepicker2" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <div class="card-footer">
                        <button id="btCreate" type="button" class="btn btn-primary" onclick="myClick()" >
                            Tạo mới
                        </button>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

@section scripts{
    <script type="text/javascript">
        $('#btCreate').on('click',function(){
            bs4pop.confirm('Số thẻ: ' + $('#empID').val() + '<br/>Họ tên: ' + $('#empName').val() + '<br/>Loại xin phép: ' + $('#loainghiphep option:selected').text() +
                ' <br/>Từ ngày: ' + $('#reservationDate').val() + '&nbsp;&nbsp; Đến ngày: ' + $('#reservationDate2').val() +
                '<br/>Từ giờ:' + $('#dateoffStartTime').val() + '&nbsp;&nbsp; Đến giờ:' + $('#dateoffEndTime').val(), function (sure) {
                console.log('Are You Sure:', sure);
            }, {
                title: 'Xác nhận thông tin phép',
                hideRemove: true,
                btns: [
                    {
                        label: 'Xác nhận',
                        onClick(cb) {
                            $("#formPhep").submit();
                        }
                    },
                    {
                        label: 'Hủy',
                        className: 'btn-default',
                        onClick(cb) {
                        }
                    }
                ]
            });

        });

        $(document).ready(function () {
            $("#formPhep").submit(function (e) {
                 $.ajax({
                    cache: false,
                    type: "POST",
                    url: '@Url.Action("dateoff_Request", "DateOff")',
                    data: $("#formPhep").serialize(),
                    success: function (result) {
                        debugger
                        if (result != '\r\nOK\r\n') {
                            let dia = bs4pop.dialog({

                                title: 'Thông báo',
                                content: result,

                                closeBtn: true,
                                backdrop: 'static',
                                btns: [
                                    { label: 'OK', className: 'btn-primary', onClick(cb) { } }
                                ],
                                onDragStart: function () {
                                    console.log('onDragStart');
                                },
                                onDrag: function () {
                                    console.log('onDrag');
                                }
                            });
                        }
                        else {
                            window.location.href = "/Home/Index";
                        }

                    }
                })
                e.preventDefault();
            });
        });

        $(function () {

            // INITIALIZE DATEPICKER PLUGIN
            $('.datepicker').datepicker({
                clearBtn: true,
                format: "dd-mm-yyyy"
            });


            // FOR DEMO PURPOSE
            $('#reservationDate').on('change', function () {
                var pickedDate = $('input').val();
                $('#pickedDate').html(pickedDate);
            });

            $('#reservationDate2').on('change', function () {
                var pickedDate = $('input').val();
                $('#pickedDate').html(pickedDate);
            });
        })

        //Timepicker
        $('#timepicker').datetimepicker({
            format: 'HH:mm'
        })

        $('#timepicker2').datetimepicker({
            format: 'HH:mm'
        })

        function myFunction() {
            var x = document.getElementById("loainghiphep").value;
            var content = "";
            var dtDenNgay = $('#dtDenNgay');
            var tpTuGio = $('#tpTuGio');
            var tpDenGio = $('#tpDenGio');
            var txtKm = $('#txtKm');
            if (x == '2' || x == '3' || x == '10' || x == '11' || x == '12' || x == '13' || x == '16') {
                if (x == '11' || x == '12') {
                    if (x == '12') 
                        document.getElementById("giaycanco").innerHTML = 'Cần giấy xác nhận chứng tử';
                    else
                        document.getElementById("giaycanco").innerHTML = 'Cần giấy xác nhận kết hôn bản sao';
                }              
                else
                    document.getElementById("giaycanco").innerHTML = 'Cần giấy nghỉ bệnh của bệnh viện xác nhận';

                if (x == '16')
                    document.getElementById("giaycanco").innerHTML = 'Không';
                dtDenNgay.prop('hidden', false);
                tpTuGio.prop('hidden', true);
                tpDenGio.prop('hidden', true);
            }
            else
            {
                document.getElementById("giaycanco").innerHTML = 'Không';
                if (x == '1' || x == '4') {
                    dtDenNgay.prop('hidden', false);
                    tpTuGio.prop('hidden', false);
                    tpDenGio.prop('hidden', false);
                }
            }

            if (x == '15') {
                document.getElementById("giaycanco").innerHTML = 'Không';
                dtDenNgay.prop('hidden', false);
                tpTuGio.prop('hidden', false);
                tpDenGio.prop('hidden', false);
            }
                

            switch (x) {
                case "1": content = "Là phép được hưởng nguyên lương, 01 tháng NLĐ sẽ được hưởng 01 ngày phép.<br />" +
                    "Nếu trong tháng NLĐ không nghỉ sẽ được cộng dồn phép vào tháng kế tiếp."
                    + "<br /> NLĐ làm đủ 05 năm thì mỗi năm sẽ được cộng thêm 01 ngày phép."; break;
                case "13":
                case "2": content = "Khi NLĐ nghỉ bệnh, con bệnh, khám thai định kỳ có giấy nghỉ bệnh của bệnh viện sẽ được BHXH chi trả bằng 75% mức lương đóng BHXH đối với nghỉ bệnh, con bệnh và 100% mức lương đóng BHXH đối với khám thai định kỳ."; break;
                case "3": content = "NLĐ sẽ được nghỉ 06 tháng và được BHXH chi trả tiền thai sản bằng 6 tháng lương bình quân của 6 tháng cuối và 02 tháng lương cơ sở (gửi giấy chứng sinh photo công chứng, giấy khai sinh cho phòng Nhân sự)"; break;
                case "16":
                case "10": content = "NLĐ hết chế độ thai sản đi làm lại, sau đó sẽ được nghỉ dưỡng sức và lao động nam có vợ sinh con thì được nghỉ 05 ngày nếu sinh thường và 07 ngày nếu sinh mổ."; break;
                case "4": content = "NLĐ nghỉ việc riêng sẽ không được tính lương ngày nghỉ, nghỉ việc riêng sẽ ảnh hưởng đến việc xét thi đua cuối năm."; break;
                case "11": content = "NLĐ kết hôn sẽ được nghỉ 03 ngày, con kết hôn được nghỉ 01 ngày hưởng nguyên lương ( gửi giấy chứng nhận kết hôn bản sao cho phòng nhân sự)"; break;
                case "12": content = "Khi Cha Mẹ ( bên chồng, bên vợ); vợ, chồng, con chết thì được nghỉ 03 ngày hưởng nguyên lương (gửi giấy chứng tử)"; break;
            }

            let dia = bs4pop.dialog({
                title: 'Ghi chú',
                content: content,

                closeBtn: true,
                backdrop: 'static',
                btns: [
                    { label: 'OK', className: 'btn-primary', onClick(cb) { } }
                ],
                onDragStart: function () {
                    console.log('onDragStart');
                },
                onDrag: function () {
                    console.log('onDrag');
                }

            });
        }

        $(".selectpicker").selectpicker()
    </script>
}