@model ESSONS_MIS_2020_App.Models.DateOffModel

@{
    ViewData["Title"] = "dateoff_Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Phép VR - Phép năm - Nghỉ BHXH</h3>
                    </div>
                    <!-- /.card-header -->
                    <form method="post" id="formPhep" asp-action="dateoff_Request">
                        <table class="table">
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Số thẻ</label>
                                        <div class="col-4">
                                            <input asp-for="empID" type="text" class="form-control" readonly placeholder="Số thẻ" value="@ViewBag.empid">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Họ tên</label>
                                        <div class="col-6">
                                            <input type="text" class="form-control" readonly placeholder="Họ tên" value="@ViewBag.message">
                                        </div>
                                    </div> 
                                    <div class="form-group row mySelect">
                                        <label class="col-sm-3 col-form-label">Loại xin phép</label>
                                        <label>&nbsp;&nbsp;</label>
                                        <select asp-for="dateoffType" class="custom-select col-6 selectpicker" id="loainghiphep" onchange=" myFunction()">
                                            <option disabled value="0" selected>Chọn loại nghỉ</option>
                                            <option value="4" title="Việc riêng là phép dùng để nghỉ nhưng sẽ không được tính công ngày nghỉ đó">Việc riêng</option>
                                            <option value="1" title="Phép năm là phép được cộng vào mỗi đầu tháng. Khi dùng phép năm để nghỉ sẽ được tính lương như bình thường">Phép năm</option>
                                            <option value="2" title="Nghỉ bệnh là phép nghỉ sẽ được BHXH thanh toán tiền lương">Nghỉ bệnh (BHXH)</option>
                                            <option value="13" title="Nghỉ con bệnh là phép nghỉ sẽ được BHXH thanh toán tiền lương">Con bệnh (BHXH)</option>
                                            <option value="3" title="Nghỉ thai sản là phép nghỉ sẽ được BHXH thanh toán tiền lương">Nghỉ thai sản (BHXH)</option>
                                            <option value="10" title="Nghỉ vợ sinh/khám/dưỡng là phép nghỉ sẽ được BHXH thanh toán tiền lương">Vợ sinh, khám, dưỡng</option>
                                            <option value="11" title="Nghỉ kết hôn là phép nghỉ sẽ được công ty thanh toán theo quy định công ty">Kết hôn</option>
                                            <option value="12" title="Nghỉ tang gia là phép nghỉ sẽ được công ty thanh toán theo quy định công ty">Tang gia</option>
                                        </select>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Giấy cần có</label>
                                        <textarea id="giaycanco" class="form-control" readonly placeholder="Không" rows="3" cols="1"></textarea>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Ngày nghỉ</label>
                                        <div class="col-5">
                                            <div class="datepicker date input-group p-0 shadow-sm">
                                                <input asp-for="dateoffStart" type="text" class="form-control" id="reservationDate">
                                                <div class="input-group-append"><span class="input-group-text"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="dtDenNgay">
                                        <label class="col-sm-3 col-form-label">Ngày kết thúc</label>
                                        <div class="col-5">
                                            <div class="datepicker date input-group p-0 shadow-sm">
                                                <input asp-for="dateoffEnd" type="text" class="form-control" id="reservationDate2">
                                                <div class="input-group-append"><span class="input-group-text"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bootstrap-timepicker">
                                        <div class="form-group row" id="tpTuGio">
                                            <label class="col-sm-3 col-form-label">Từ giờ</label>
                                            <div class="input-group date col-4" id="timepicker" data-target-input="nearest">
                                                <input asp-for="dateoffStartTime" type="text" class="form-control datetimepicker-input" data-target="#timepicker" />
                                                <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bootstrap-timepicker">
                                        <div class="form-group row" id="tpDenGio">
                                            <label class="col-sm-3 col-form-label">Đến giờ</label>
                                            <div class="input-group date col-4" id="timepicker2" data-target-input="nearest">
                                                <input asp-for="dateoffEndTime" type="text" class="form-control datetimepicker-input" data-target="#timepicker2" />
                                                <div class="input-group-append" data-target="#timepicker2" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary" href="#">
                                Tạo mới
                            </button>
                        </div>
                    </form>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formPhep").submit(function (e) {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: '@Url.Action("dateoff_Request", "DateOff")',
                    data: $("#formPhep").serialize(),
                    success: function (result) {
                        debugger
                        if (result != '\r\nOK\r\n') {
                            let dia = bs4pop.dialog({

                                title: 'Thông báo',
                                content: result,

                                closeBtn: true,
                                backdrop: 'static',
                                btns: [
                                    { label: 'OK', className: 'btn-primary', onClick(cb) { } }
                                ],
                                onDragStart: function () {
                                    console.log('onDragStart');
                                },
                                onDrag: function () {
                                    console.log('onDrag');
                                }
                            });
                        }
                        else {
                            window.location.href = "/Home/Index";
                        }
                            
                    }
                })
                e.preventDefault();
            });
        });

        $(function () {

            // INITIALIZE DATEPICKER PLUGIN
            $('.datepicker').datepicker({
                clearBtn: true,
                format: "dd-mm-yyyy"
            });


            // FOR DEMO PURPOSE
            $('#reservationDate').on('change', function () {
                var pickedDate = $('input').val();
                $('#pickedDate').html(pickedDate);
            });

            $('#reservationDate2').on('change', function () {
                var pickedDate = $('input').val();
                $('#pickedDate').html(pickedDate);
            });
        })

        //Timepicker
        $('#timepicker').datetimepicker({
            format: 'HH:mm'
        })

        $('#timepicker2').datetimepicker({
            format: 'HH:mm'
        })

        function myFunction() {
            var x = document.getElementById("loainghiphep").value;
            var dtDenNgay = $('#dtDenNgay');
            var tpTuGio = $('#tpTuGio');
            var tpDenGio = $('#tpDenGio');
            if (x == '2' || x == '3' || x == '10' || x == '11' || x == '12' || x == '13') {
                if (x == '11' || x == '12')
                    document.getElementById("giaycanco").innerHTML = 'Cần giấy xác nhận tổ chức kết hôn, tang gia'; 
                else
                    document.getElementById("giaycanco").innerHTML = 'Cần giấy nghỉ bệnh của bệnh viện xác nhận';
                dtDenNgay.prop('hidden', false);
                tpTuGio.prop('hidden', true);
                tpDenGio.prop('hidden', true);
            }
            else
            {
                document.getElementById("giaycanco").innerHTML = 'Không';
                if (x == '1' || x == '4') {
                    dtDenNgay.prop('hidden', false);
                    tpTuGio.prop('hidden', false);
                    tpDenGio.prop('hidden', false);
                }
            }
        }

        $(".selectpicker").selectpicker()
        var title = [];
        $('#loainghiphept option').each(function () {
            title.push($(this).attr('title'));
        });

        $("ul.selectpicker li").each(function (i) {
            $(this).attr('title', title[i]).tooltip({ container: "#tooltipBox" });
        })


    </script>
}