
@{
    ViewData["Title"] = "dateoff_Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Quản lý các loại phép</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Số thẻ</th>
                                    <th>Họ tên</th>
                                    <th>Phòng ban</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Lê Hoài Nam
                                    </td>
                                    <td>IT</td>
                                    <td>Phép năm</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="http://localhost:50147/Home/DateOff_Detail_Emp">
                                            <i class="fas fa-folder">
                                            </i>
                                            Chi tiết
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Lê Hoài Nam
                                    </td>
                                    <td>IT</td>
                                    <td>VR</td>
                                    <td>2</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="http://localhost:50147/Home/DateOff_Detail_Emp">
                                            <i class="fas fa-folder">
                                            </i>
                                            Chi tiết
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3899</td>
                                    <td>
                                        Nguyễn Văn A
                                    </td>
                                    <td>Kho</td>
                                    <td>Phép năm</td>
                                    <td>2</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="http://localhost:50147/Home/DateOff_Detail_Emp">
                                            <i class="fas fa-folder">
                                            </i>
                                            Chi tiết
                                        </a>
                                    </td>
                                </tr>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

