<option selected="selected" disabled>Chọn mã keo</option>
@if (ViewBag.makeoList.MaKeo1 != "")
{
    <option value="@ViewBag.makeoList.MaKeo1">@ViewBag.makeoList.MaKeo1</option>
}
@if (ViewBag.makeoList.MaKeo2 != "")
{
    <option value="@ViewBag.makeoList.MaKeo2">@ViewBag.makeoList.MaKeo2</option>
}

