<option selected="selected" disabled>Chọn mã keo</option>
<option value="@ViewBag.makeoList.MaKeo1">@ViewBag.makeoList.MaKeo1</option>
<option value="@ViewBag.makeoList.MaKeo2">@ViewBag.makeoList.MaKeo2</option>
